Email__User=
Email__Password=
Email__Service=
Email__Port=

Supabase__Url=
Supabase__Key=

ConnectionStrings__Supabase=Host=...;Database=...;Username=...;Password=...

GoogleAI__ApiKey=
GoogleAI__BaseUrl=
GoogleAI__Model=

Cliente1__Email=
Cliente2__Email=